@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-violet-400: #208157;
    --color-fuchsia-400: #2fb078;
    --color-fuchsia-900: #00cc74;
    --color-indigo-900: #04a35e;
    --color-amber-300: #068d52;
    --color-teal-300: #08613b;
    --color-gray-950: theme("colors.gray.950");
    --color-border: theme("colors.gray.200/20%");
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .logos{
    @apply mt-[89px]
  }

}


.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}


.logos{
  margin-right: 89px;
}

.text-hero {
  font-size: 50px;
  text-align: center;
  color: var(--color-primary); 
  margin: 2rem 0;

  @media (min-width: 768px) {
    font-size: 92px;
    line-height: 6rem;
  }
}

.phrase{
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: center;
  color: #4c5156;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}


.texture {
  font-size: 2.5rem;
  text-align: center;
}



.footer-con {
  background-color: #232529;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 768px) {
  .footer-con {
    padding-left: 94px;
    padding-right: 94px;
  }
}



.foot {
  margin-top: 32px; 
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .foot {
    flex-direction: row;
  }
}


.butt-con {
  min-width: 300px; 
}

.butt-con-text {
  font-weight: 500; 
  color: #9098A0;
  margin-bottom: 1rem;
}

.butt-div {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  justify-content: flex-start; 
}

.m-butt-footer {
  border: none;
  background-color: #31373D;
  transition: background-color 0.3s ease;
}

.m-butt-footer:hover {
  background-color: #31373D; 
}

.m-butt-footer:focus,
.m-butt-footer:hover {
  background-color: #31373D;
}

.s-butt-footer {
  border-radius: 12px; 
  border: 1px solid #EDEEF0; 
  background-color: transparent;
  color: white; 
}

.s-butt-footer:hover {
  background-color: transparent; 
}




.items {
  color: #9098A0; 
  margin-bottom: 12px; 
}

.items-par {
  color: #555E67; 
  cursor: pointer;
}

.items-cont {
  display: flex;
  flex-direction: column; 
  gap: 0.75rem; 
}



@media (min-width: 768px) {
  .texture {
    font-size: 3.25rem; 
   text-align: center;
  }
}

.desc {
  color: white;
  font-size: 17px;
  margin-top: 1rem; 
  text-align: center;
}

@media (min-width: 768px) {
  .desc {
    font-size: 22px; 
  }
}

.btn-test {
  margin: 0 auto; 
  border: 1px solid #31373D;
  color: #EDEEF0;
  background-color: transparent;
  border-radius: 0.5rem;
  display: block;
  margin-top: 25px;
}



.margin{
  margin-top: 32px;
}

.margin-double{
  margin-top: 64px;
}


.padding{
  padding-top: 30px;
}

.marq-over{
  padding-top: 3rem; 
  padding-bottom: 6rem;  
  overflow-x: clip;
}

.crm-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}


.crm-cont-img {
  width: calc(100vw - 1.5rem);
}

@media (min-width: 768px) {
  .crm-cont-img {
      width: calc(100vw - 8rem);
  }
}

.mrg{
  margin-top: 25px;
}


.linear{
  display: flex;
  overflow: hidden;
  margin-top: 3rem; 
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}


.build-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  background-color: #23c55e;
  padding: 0 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0 94px;

  }

}


.ready-img {

  @media (min-width: 768px) {
    display: hidden;
  }
}



.build-text {
  font-size: 40px;
  line-height: 1.25; 
  color: #a0f8c6;

  @media (min-width: 768px) {
    line-height: normal;
  }
}



.build-btn {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin-top: 32px;
}


.btn-build-start {
  border: none;
  border-radius: 12px;
  background-color: rgba(82, 207, 134, 0.4);
}


.builder-cont {
  position: relative;
  background-color: #232529;
  padding: 116px 16px; 
}

@media (min-width: 768px) { 
  .builder-cont {
    padding-left: 94px; 
    padding-right: 94px;
  }
}


.bt-builder {
  margin: 0 auto;
  border: 1px solid #31373D; 
  color: #EDEEF0; 
  background-color: transparent;
  border-radius: 0.5rem;
  display: block;
}



.btn-build-start:hover {
  background-color: rgba(82, 207, 134, 0.4);
}


.btn-build-tlk {
  border-radius: 12px;
  border: 1px solid #EDEEF0;
  background-color: white;
  color: #31373D;
}

.btn-build-tlk:hover {
  background-color: white;
}



.text-sec{
  text-align: center;
  color: var(--color-primary); 
  font-size: 1.6rem; 
}

@media (min-width: 768px) {
  .text-sec {
    font-size: 22px; 
    color: var(--color-primary);
    font-size: 2rem; 
  }
}

.trans{
  display: flex;
  flex: 0 0 auto;
  gap: 6rem; 
  padding-right: 6rem;
}
.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}




.cl-footer, .cl-internal-4x6jej, .cl-internal-1dauvpw{
  display: hidden;
}

.cl-internal-16vtwdp p{
  color: wheat;
}




.cl-signIn-root,
.cl-signUp-root
{
  border: 4px solid transparent;
  border-radius: 15px;
  background: linear-gradient(var(--color-gray-950), var(--color-gray-950)) padding-box,
              conic-gradient(from 90deg, var(--color-violet-400), var(--color-fuchsia-400), var(--color-amber-300), var(--color-teal-300), var(--color-violet-400));
}


/* .cl-signIn-root,
.cl-signUp-root
{
  border: 4px solid transparent;
  border-radius: 15px;
  background: linear-gradient(var(--color-gray-950), var(--color-gray-950)) padding-box,
              conic-gradient(from 90deg, var(--color-violet-400), var(--color-fuchsia-400), var(--color-amber-300), var(--color-teal-300), var(--color-violet-400));
} */

